body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.5rem 0.7rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.row {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 1rem 2rem;
}

.login-signup {
  display: flex;
  justify-content: flex-end;
}

#title {
  font-size: 5rem;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-left: 2rem;
}
